@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-weight: 400;
  background-color: #36384D;
  color: #242742;
  --white: #fff;
  --dark: #242742;
  --red: #FF6155;
}

* {
  box-sizing: border-box;
}

.modal {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal__modal {
  background-color: var(--white);
  border-radius: 36px;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}

.modal-signup {
  max-width: 928px;
  max-height: 641px;
  display: flex;
  overflow: hidden;
}

.modal-signup__content {
  padding: 97px 64px;
}

.modal__title {
  font-size: 56px;
  font-weight: 700;
}

.modal__description {
  line-height: 150%;
  padding: 24px 0;
}

.modal__list {}

.modal__item {
  line-height: 150%;
  position: relative;
  padding-left: 37px;
}

.modal__item:not(:last-child) {
  padding-bottom: 10px;
}

.modal__item::before {
  content: url(./images/icon-list.svg);
  position: absolute;
  left: -1px;
}

.modal-signup__form {
  padding-top: 40px;
}

.form {}

.form__label {
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding-bottom: 8px;
}

.form__header {
  display: flex;
  justify-content: space-between;
}

.form__validation-error {
  font-size: 12px;
  font-weight: 700;
  color: var(--red);
  display: block;
  padding-bottom: 8px;
}

.form__input {
  font-size: 16px;
  font-feature-settings: 'clig' off, 'liga' off;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(25, 24, 43, 0.25);
  padding: 16px 0 16px 24px;
  margin-bottom: 24px;
}

.form__input--invalid {
  color: var(--red);
  border: 1px solid var(--red);
  background: rgba(255, 97, 85, 0.15);
}

.form__input--invalid:focus {
  color: var(--red);
  border: 1px solid var(--red);
  background: rgba(255, 97, 85, 0.15);
}

.form__input--invalid::placeholder {
  color: var(--red);
  opacity: 1;
}

.form__button {
  width: 100%;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 16px;
}

.form__button:focus,
.form__button:hover {
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  border-radius: 8px;
  background: var(--Gradient-1, linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%));
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  padding: 16px;
}

.modal-signup__illustration {
  padding: 24px 24px 24px 0;
}

.modal-success {
  display: none;
  max-width: 504px;
}

@media (max-width: 900px) {
  .modal-signup__content {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .modal-signup__content {
    padding: 40px 20px;
    display: block;
  }

  .modal-signup {
    max-height: 500vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .modal-signup__illustration {
    padding: 0;
  }

}